<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.fzbatis.start.dao.IUserDao">
    <select id="queryUserInfoById" parameterType="java.lang.Long" resultType="com.fzbatis.start.pojo.User">
        SELECT id, userId, userHead, createTime
        FROM user
        where id = #{id}
    </select>
</mapper>
